<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Playground</title>
</head>
<body>
    {% for x in range(0,3): %}
    <div id = "square" style = "width:100px;height: 100px;background-color: blue;margin: 10px; display:inline-block"></div>
    {% endfor %}
    {% for x in range(0,num): %}
    <div id = "square" style = "width:100px;height: 100px;background-color: green;margin: 10px; display:inline-block"></div>
    {% endfor %}
    {% for x in range(0,num): %}
    <div id = "square" style = "width:100px;height: 100px; background-color:{{ color }}; margin:10px; display:inline-block"></div>
    {% endfor %}
</body>
</html>